body{
    background-color: hsl(210, 17%, 40%);
    padding: 0 10px;
    font-family: 'Poppins', sans-serif;
}
nav{
    font-family: 'Poppins', sans-serif;
}

h3{
    text-align: center;
    color: white;
}

tr{
    color: black;
}