<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/books.css' %}">
        <script src="{% static 'js/books.js' %}"></script>

        <title>haloo</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-light sticky-top" style="background-color: #f5f5f5;">
            <a class="navbar-brand" href="#">Feren</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}"><span class="sr-only"></span>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href= "{% url 'home' %}"><span class="sr-only"></span>Books</a>
                    </li>
                </ul>
            </div>
        </nav>
        {% block content %}
        {% endblock content %}
    </body>
</html>