{% extends 'base.html' %}
{% load static %}

{% block content %}
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <h1 style="font-weight: bold; color: white;">Hi, Welcome :D</h1>
        </div>
        <br>
        <div class="row justify-content-center">
            <a class="btn btn-light waves-effect waves-h4ght" href="{% url 'login' %}" id="login-but"> Login </a>
        </div>
        </div>
    </div>
    
{% endblock content %}