{% extends 'base.html' %}
{% load static %}

{% block content %}
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <h1 style="font-weight: bold; color: white;">{{page_title}}</h1>
        </div>
        <br>
        <div class="row justify-content-center">
            <form id = "input-form" method="POST">
                {% csrf_token %}
                <label for="username" style="color: white;">Username : </label><br>
                <input  type="text" name="username" id="username">
                <br>
                <label for="password" style="color: white;">Password : </label><br>
                <input type="password" name="password" id="password">
                <br>
                <br>

                <div class="row justify-content-center">
                    <button class="btn btn-light waves-effect waves-h4ght" type="submit" id="submit-but">
                        Login
                    </button>
                </div>
                
            </form>
        </div>
    </div>
{% endblock content %}