{% extends 'base.html' %}
{% load static %}

{% block content %}

    <br>
    <div class="container">
        <div class="row justify-content-center">
            <h1 style= "font-weight: bold; color: white;">Are you sure want to logout, {{user}} ?</h1>
        </div>
        <br>
        <form  method="POST">
            {% csrf_token %}
            <input class="btn btn-light btn-block " value="Yes" type="submit" name="logout" id="logout-yes" style= "font-weight: bold;">
            <input class="btn btn-dark btn-block " value="No" type="submit" name="logout" style= "font-weight: bold;">
        </form>
    </div>
{% endblock content %}