{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/books.css' %}">
        <script src="{% static 'js/books.js' %}"></script>

        <title>haloo</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #f5f5f5;">
            <a class="navbar-brand" href="#">Feren</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href= "{% url 'home' %}">Books</a>
                    </li>
                </ul>
            </div>
        </nav>
        <br>
        <div class="col md-12">
            <h3>Buku apa yang ingin kamu cari?</h3>
            <div id="search-bar">
                <form id = "input-form">
                    {{ search_form }}
                    <br>
                    <button class="btn btn-light waves-effect waves-h4ght center-block" id="search-button">Cari</button>
                </form>
            </div>

            <br>
            <div id="hasil_list" class="text-center">
            </div>
        </div>
    </body>
</html>